/* form {
    margin: 0 auto;
} */

.formContainer {
    width: 55%;
    margin: 80px auto 100px auto;
    border: 1px solid hsla(0,0%,100%,.5);
    background: #fafafa;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 
                0 6px 20px 0 rgba(0,0,0,.19);
}

.formHeading {
    padding: 15px 0;
    border: 1px solid hsla(0,0%,100%,.5);
    background: #344955;
    color: #F9AA33;
    text-align: center;
}

.inputHeading {
    color: #344955;
    margin: 30px auto 0;
    text-align: center;
}

.inputHeading h2 {
    font-family: sans-serif;
}

.qFormSubmitBtnContain {
    text-align: center;
}

.qFormSubmitBtn {
    padding: 10px;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 5px;
    background: #344955;
    color: white;
}

/* Questions.js Component Styling */
.questionListContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.questionsMainHeader {
    font-family: sans-serif;
}

.questionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* QuestionList.js Component Styling */
.singleQuestion {
    width: 40%;
    margin: 0 auto;
}
